.topbar {
  position: fixed;
  top: 0;
  height: 193px;
  width: 100%;
  z-index: 2;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: black;
  color: white;
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .link {
      // border: solid 1px red;
      text-decoration: none;
      color: black;
      .top {
        margin-bottom: -35px;
        display: flex;
        justify-content: center;
        align-items: center;
        // border: solid 1px green;

        h2 {
          font-family: "Rubik Distressed", cursive;
          color: white;
        }
      }
      .middle {
        margin-bottom: -35px;
        // border: solid 1px blue;
        // background-color: blue;
        display: flex;
        justify-content: center;
        .kenton-club {
          font-family: "Rubik Distressed", cursive;
          font-size: 45px;
          color: white;
        }
      }
    }
    .bottom {
      display: flex;
      // border: solid 1px orange;
      align-items: center;
      a {
        text-decoration: none;
        color: white;
        h2 {
          font-family: "Rubik Distressed", cursive;
        }
      }
      i {
        color: rgb(157, 18, 46);
        margin-left: 2px;
        margin-righ: 2px;
      }
      h2 {
        font-family: "Rubik Distressed", cursive;
      }
    }

    .hours-of-op {
      border: solid 1px orange;
      width: 100%;

      h6 {
      }
      .location {
      }
    }
  }
}
