.navbar {
  background: yellow;
  color: rgb(7, 47, 225);
  opacity: 95%;
  height: 200px;
  top: 0;
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: center;
  /* justify-self: stretch; */
}
nav {
  justify-self: center;
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.middle {
  margin-top: -50px;
}
.bottom {
  margin-top: -40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.kenton-club {
  font-family: "Fredoka One", cursive;
  font-size: 50px;
  color: rgb(195, 0, 0);
}

.lottery {
  align-self: start;
  float: right;
}

.emptyDiv {
  width: 40px;
}
.lotto {
  width: 40px;
  float: right;
}
.fa-star {
  color: red;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
