.swiper-container {
  /* margin-top: 212px; */
  z-index: 0;
  margin-bottom: -423px;
  background-color: #cbd2d0;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 200px;
  display: block;
}
.swiper-slide {
  display: flex;
  justify-content: center;
}
