.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 420px;
  margin-bottom: 67px;

  input {
    height: 30px;
  }

  button {
    margin-top: 7px;
    height: 30px;
    border-radius: 7px;
  }
}
