.show {
  color: rgb(160, 160, 160);
  margin-top: 200px;
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

/* .showDetailWrapper {
  background-color: rgb(0, 0, 0);
} */
